/* .product-detail__small-img-group{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.product-detail__small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    margin-right: 10px;
} */

.checked_rating{
    color: orange;
}

.container .type-product{
    background-color: #0062cc;
    color: #fff;
    width: 200px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
}

/* .container h2::after{
    content: '';
    border-top: 40px solid #0062cc;
    border-right: 40px solid transparent;
    position: relative;
    left: 30px;
    top:36px;
} */

.product-bottom h3{
    font-size: 20px;
    font-weight: bold;
}

.product-bottom h5{
    font-size: 15px;
    padding-bottom: 10px;
}

.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}

.overlay button{
    margin-bottom: 5px;
}

.product-top:hover .overlay{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

.toTopButton{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 30px;
    height: 30px;
    border-radius:50px;
    line-height: 30px;
    text-align: center;
    background-color:#0062cc; 
    box-shadow: 2px 2px 3px #999;
    color: #fff;
}

.home-body{
    background-image: url("../../images/background-reg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}