@charset "utf-8";
body{
	font-size: 15px!important;
	--color1:#198754;
	--color2:#eeeeee;
	--light:#ffffff;
	--dark:#000000;
	min-width: 1024px!important;
}
.overflow-scroll::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.overflow-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
.overflow-scroll::-webkit-scrollbar-thumb {
  background: #0f0;
  border-radius: 5px;
}

/* Handle on hover */
.overflow-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nav-link{
	font-size: 1.2em;
	font-weight: 500;
	color:#030;
}
.nav-pills .nav-link.active{
	background-color: var(--color1);
	/*background-color: #198754;*/
}
/*a, a:hover, a:active, a:visited{
	text-decoration: none;
	color:inherit;
}
.full-screen{
	height: 100vh;
	margin:0px;
}
.x-left{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.x-center{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.x-right{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.x-y-left{
	align-items: flex-start;
}
.x-y-center{
	align-items: center;
}
.x-y-right{
	align-items: flex-end;
}
.y-top{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.y-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.y-bot{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.y-x-center{
	align-items: center;
}
#left-page{
	height: 100%;
	width: 25%;
	background: var(--color1);
	color: var(--light);
}
#right-page{
	height: 100%;
	width: 75%;
}
p{
	vertical-align: middle;
	margin-left: 10%;
}
.big-text{
	font-size: 18px;
	font-weight: 700;
}
.light-text{
	color: var(--light);
}
table{
	width: 96%;
	margin: 2%;
	border: 0px;
	border-collapse: collapse;
}
tr{
}
th{
	padding: 10px;
	background-color: var(--color2);
}
td{
	padding: 10px;
	text-align: center;
}*/